<mat-card>
    <mat-card-header>
        Change password
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="eidtedUserForm" (submit)="changePassword()">
            <mat-form-field>
                <mat-label>Current Password</mat-label>
                <input type="password" matInput formControlName="oldPassword">
            </mat-form-field>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input type="password" matInput formControlName="newPassword">
                @if(newPassword?.invalid && newPassword?.touched) {
                    <mat-error>
                        Password requires 8 signs, capital case and lower case signs and numbers!
                    </mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Repeat New Password</mat-label>
                <input type="password" matInput formControlName="newPasswordRepeat">
                @if(eidtedUserForm.hasError('notSame')) {
                    <mat-error>
                        Passwords don't match!
                    </mat-error>
                }
            </mat-form-field>
            <button mat-button type="submit" class="button" color="accent" [disabled]="eidtedUserForm.invalid">Save</button>
        </form>
    </mat-card-content>