form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 3vh;

    .button {
        align-self: center;
        width: 90%;
    }
}

.button {
    background-color: #3d0050;
    width: 50%;
}

.button:disabled{
    background-color: #3f3242;
}