<div class="wrapper">
    <h2>
        {{ data.name }}
    </h2>
    <div class="messages">
        @for (message of messages; track $index) {
            <mat-card class="message-bubble" 
                [ngClass]="{'own': currentUser?.username === message.sender.username, 'received': currentUser?.username !== message.sender.username}"
                >
            <mat-card-content>
                {{ message.message }}
            </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        }
    </div>
    <div class="message-creator">
        <form (submit)="sendMessage()">
            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea #msgTextArea matInput [formControl]="msgControl"></textarea>
            </mat-form-field>
            <button class="send-button" mat-mini-fab color="primary" type="submit">
                <mat-icon>
                    send
                </mat-icon>
            </button>
        </form>
    </div>
</div>