<div class="wrapper">
    <h2>
        {{ data.name }}
    </h2>
    @for (message of messages; track $index) {
        <mat-card class="message-bubble">
            <mat-card-content>
                {{ message.message }}
            </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
    }
    <mat-divider id="final-divider"></mat-divider>
    <div class="message-creator">
        <form (submit)="sendMessage()">
            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea #msgTextArea matInput [formControl]="msgControl"></textarea>
            </mat-form-field>
            <button class="send-button" mat-mini-fab color="primary" type="submit">
                <mat-icon>
                    send
                </mat-icon>
            </button>
        </form>
    </div>
</div>