<h2>Searching for players of: 
    <br>
    @for (game of gamesToSearchBy; track $index) {
        <p>{{ game.name }}</p>
    }
</h2>

@if(users.length === 0){
    <h2>Unfortunately, no one matches your preferences for now :/</h2>
}
@else {

    <div class="tally-with-buttons">
        <button mat-fab (click)="onPrevClick()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div class="tallies">
            <app-tally [user]="currentUser" [state]="tallyState" (animationEnded)="progressAnimation($event)" (startedChat)="onAccepted($event)" (rejected)="onRejected($event)"></app-tally>
        </div>
        <button mat-fab (click)="onNextClick()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
}
