<div class="content">
    <ng-container *ngIf="user !== undefined && user !== null; else loginButton">
        <button mat-button>
            <mat-icon fontIcon="menu"></mat-icon>
        </button>
        <button mat-button (click)="openMessages()">
            <mat-icon fontIcon="email"></mat-icon>
        </button>
        <img (click)="toDashboard()" src="{{user.profileImg}}">    
    </ng-container>
    <ng-template #loginButton>
        <button mat-button (click)="logIn()">Log In</button>
        <button mat-button (click)="register()">Register</button>
    </ng-template>
</div>
