.content {
    display: flex;
    max-height: 100%;
    gap: 30px;

    * {
        aspect-ratio: 1;
        max-height: 40px;
        font-size: 100%;
    }
}

.profile-img {
    width: 5px;
}

img {
    cursor: pointer;
}

button {
    background-color: #1e0072;
    height: 100%;
}