<div class="cards" [@movementState]="state"
    (@movementState.done)="onAnimationEnd(state)"
>    
    <div class="platforms">
        <!-- <ng-container *ngFor="let platformUser of user.platformUser">
            <mat-card class="platform-card">
                <mat-card-header>
                    {{ platformUser.platform.name }}
                </mat-card-header>
                <h3>
                    {{ platformUser.nick }}
                </h3>
            </mat-card>
        </ng-container> -->
        <div class="buttons">
            <button class="chat" mat-fab (click)="onStartedChat()">
                <mat-icon>textsms</mat-icon>
            </button>
            <button class="close" mat-fab (click)="onRejected()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <mat-card class="user-card">
        <mat-card-header>
            {{ user.username }}
        </mat-card-header>
        <mat-card-header *ngIf="user.isIncel === true">
            <div class="incel-warning" [ngSwitch]="user.gender">
                <p *ngSwitchCase="'Male'">Known Incel</p>
                <p *ngSwitchCase="'Female'">Known Femcel</p>
                <p *ngSwitchCase="'Other'">Known AssaultHelicopterCel</p>
                <p *ngSwitchDefault>Be Careful</p>
            </div>
        </mat-card-header>
        <mat-card-subtitle>
            {{ user.gender}}
        </mat-card-subtitle>
        <img mat-card-image [src]="user.profileImg">
        <mat-card-content>
            {{ user.description }}
        </mat-card-content>
    </mat-card>
</div>