
.cards {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vmin; 
    width: 50vmin;
}

mat-card-subtitle {
    color: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.card
{
    color: #F2F2F2;
    border-radius: 10px;
    position: absolute;
    width: 30vmin;
    aspect-ratio: 5 / 7;
    transition: transform 800ms cubic-bezier(.15,.85,.57,.97);
    background: radial-gradient(circle, #040097 0%, #000000 100%);
}

.cards:hover {

    .user-card {        
        transform: translateY(-7%);
    }

    .platform-card:nth-child(1) {        
        transform: translateY(-3%) translateX(100%) rotate(26deg);
    }

    .platform-card:nth-child(2) {        
        transform: translateY(3%) translateX(-100%) rotate(-14deg);
    }
}

img {
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
}

.incel-warning {
    font-family: Nueva, 'sans-serif';
    color: red;
}