
.cards {
    margin-left: 0;
    margin-right: 0;
    margin-top: 6vmin; 
    width: auto;
    aspect-ratio: 5 / 7;
    position: relative;
}

mat-card-subtitle {
    color: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

mat-card {
    color: #F2F2F2;
    border-radius: 10px;
    transition: transform 800ms cubic-bezier(.15,.85,.57,.97);
    background: radial-gradient(circle, #040097 0%, #000000 100%);
}

mat-card-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.platforms {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    transition: 800ms cubic-bezier(.15,.85,.57,.97);
    width: 100%;
    opacity: 0;
}

.platform-card {
    display: block;
    color: #020202;
    background: radial-gradient(circle, #f2f2f2 0%, #555555 100%);
    width: 100%;
    padding-left: 10%;
    overflow-wrap: break-word;
    font-family: Nueva, 'sans-serif';
}

.cards:hover {

    .user-card {        
        transform: translateX(-100%);
    }

    .platforms {
        transform: translateX(25%);
        opacity: 1;        
    }
}


img {
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    width: 90%;
}

.incel-warning {
    font-family: Nueva, 'sans-serif';
    color: red;
}