.wrapper {
    // margin-left: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chats {
    margin-left: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}