.wrapper {
    width: 100%;
    display: flex;
    margin-top: 3vmin;
    justify-content: center;
    font-family: Nueva, 'sans-serif'
}

.background {
    width: 50%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vmin;
}

img {
    width: 50%;
    aspect-ratio: 1;
}