<div class="wrapper">
    <div class="background">
        <ng-container *ngIf="loggedUser !== null">
            <h1>
                Hello {{ loggedUser.username }}
            </h1>
            <img src="{{loggedUser.profileImg}}">
            <app-games></app-games>
            <button mat-button class="button" color="accent" (click)="toSwiping()">Start swiping!</button>
            <button mat-button class="button" color="accent" (click)="startEditing()">Edit profile</button>
            @if(isEditing === true) {
                <form [formGroup]="eidtedUserForm" (submit)="changePassword()">
                    <mat-form-field>
                        <mat-label>Current Password</mat-label>
                        <input matInput formControlName="oldPassword">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input matInput formControlName="newPassword">
                        @if(newPassword?.invalid && newPassword?.touched) {
                            <mat-error>
                                Password requires 8 signs, capital case and lower case signs and numbers!
                            </mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Repeat New Password</mat-label>
                        <input matInput formControlName="newPasswordRepeat">
                        @if(eidtedUserForm.hasError('notSame')) {
                            <mat-error>
                                Passwords don't match!
                            </mat-error>
                        }
                    </mat-form-field>
                    <button mat-button type="submit" class=""button [disabled]="eidtedUserForm.invalid">Register</button>
                </form>
                <button mat-button class="button" color="warn" (click)="stopEditing()">Cancel</button>
            }
            <button mat-button class="button" color="accent" (click)="logout()">Log out</button>
        </ng-container>
    </div>
</div>